/.gradle/
/orientdb/
/webroot/
/bin/
/.vertx/
/build/
.cache-main/
.cache-tests/
.settings/
.project
.classpath
hairball/.classpath
hairball_core/.classpath
hairball/.project
hairball_core/.project
hairball/.settings
hairball_core/.settings
hairball/.cache-main
hairball_core/.cache-main
hairball/.cache-tests
hairball_core/.cache-tests
/bazel-*
/**/bazel-*
